<p>hello</p>
<p>hello</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary my-3 mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add new data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- add form  -->

        <form #NewProgramData="ngForm" (ngSubmit)="addNewProgram(NewProgramData.value)">
          <div class="mb-3">
            <label for="ProgramName" class="form-label">Program Name</label>
            <input type="text" class="form-control" [ngModel]="" name="ProgramName">
          </div>

          <div class="mb-3">
            <label for="ProgramNumber" class="form-label">Program Number</label>
            <input type="text" class="form-control" [ngModel]="" name="ProgramNumber">
          </div>

          <div class="mb-3">
            <label for="ProgramDescription" class="form-label">Program Description</label>
            <input type="text" class="form-control" [ngModel]="" name="programDescription">
          </div>

          <div class="mb-3">
            <label for="ProgramBudget" class="form-label">Program Budget</label>
            <input type="text" class="form-control" [ngModel]="" name="programBudget">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- grid data is shown by this code below  -->
<ejs-grid [dataSource]='data'>
  <e-columns>
    <e-column field='programName' headerText='ProgramName' textAlign='center' width=150></e-column>
    <e-column field='programDescription' headerText='Program Description' width=160></e-column>
    <e-column field='programBudget' headerText='Program Budget' width=160></e-column>
    <e-column field='programNumber' headerText='Program Number' format='C2' textAlign='Right' width=150></e-column>
    <e-column field='isActive' headerText='Active?' format='C2' textAlign='Right' width=150></e-column>
    <e-column>
      <ng-template #template let-data>
        <button class="btn btn-primary mx-1" (click)="changeActivity(data)">change activity Status</button>
        <button class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal1"
        (click)="editButtonClicked(data)"
        >Edit</button>

      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>


<!-- edit form  -->


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title122212</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- edit form  -->

        <form #editProgram="ngForm" (ngSubmit)="editForm(editProgram.value)">
          <div class="mb-3">
            <label for="programName" class="form-label">Program Name</label>
            <input type="text" class="form-control" [(ngModel)]="editFormData.programName" name="programName">
          </div>

          <div class="mb-3">
            <label for="ProgramNumber" class="form-label">Program Number</label>
            <input type="text" class="form-control" [ngModel]="editFormData.programNumber" name="programNumber">
          </div>

          <div class="mb-3">
            <label for="ProgramDescription" class="form-label">Program Description</label>
            <input type="text" class="form-control" [ngModel]="editFormData.programDescription" name="programDescription">
          </div>

          <div class="mb-3">
            <label for="ProgramBudget" class="form-label">Program Budget</label>
            <input type="text" class="form-control" [ngModel]="editFormData.programBudget" name="programBudget">
          </div>

          <button type="submit" class="btn btn-primary">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>